name: Build and Publish Doxygen

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Doxygen
        run: |
          wget https://www.doxygen.nl/files/doxygen-1.15.0.linux.bin.tar.gz
          tar -xf doxygen-1.15.0.linux.bin.tar.gz
          echo "$(pwd)/doxygen-1.15.0/bin" >> $GITHUB_PATH

      - name: Run Doxygen
        run: doxygen Doxyfile

      - name: Disable Jekyll
        run: touch ./docs/doxygen/.nojekyll

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs/doxygen'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4